			<form method="post" action="/maps">
				<label for="file">File: </label>
				<!-- <input class="uk-input" type="text" placeholder="Map Title" name="map[title]"> -->
				<input type="file" accept=".csv" name="map[file]">
				<input class="uk-button uk-button-primary uk-margin-top uk-button-small uk-width-1-1@s" type ="submit" value="Add CSV">
			</form>	